/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

mjx-container[jax="CHTML"][display="true"] {
  display: inline-block !important;
  text-align: left !important;
  margin: 0.2em 0 0 0.2em !important;
}
page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}
page[size="A4"] {
  width: 21cm;
  height: 29.7cm;
}
@media print {
  body,
  page {
    margin: 0;
    box-shadow: 0;
  }
}
